:root {
  --background-hero: #ffb8ca;
  --background-tradition-contacts: #fff5f6;
  --background-social-link: #fea5bb;
  --background-mobile-menu: #e17992;
  --background-elements: #fff;
  --color-accent: #d41443;
  --button-left-focus: #c7133e;
  --products-ice-cream: #ffb8ca;
  --products-ice-coffee: #f0d1a5;
  --products-milkshakes: #c2e297;
  --sub-title-elipse: #ffa5ba;
  --contacts-text-color: #907e82;
  --dash-color: #e1e1e1;
  --modal-input-color: #e18298;
  --right-button-hover: #ecebeb;
  --text-decoration-font: Titan One, sans-serif;
  --text-main-font: DM Sans, sans-serif;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
