<section class="gallery">
  <div class="container">
     <picture>
                <source
                  srcset="./img/team/team-desktop-1.webp 1x, ./img/team/team-desktop-1@2x.webp 2x"
                  media="(min-width: 1200px)"
                  type="image/webp"
                />
                <source
                  srcset="./img/team/team-desktop-1.jpg 1x, ./img/team/team-desktop-1@2x.jpg 2x"
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="./img/team/team-tablet-1.webp 1x, ./img/team/team-tablet-1@2x.webp 2x"
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="./img/team/team-tablet-1.jpg 1x, ./img/team/team-tablet-1@2x.jpg 2x"
                  media="(min-width: 768px)"
                />

                <source
                  srcset="./img/team/team-mobile-1.webp 1x, ./img/team/team-mobile-1@2x.webp 2x"
                  media="(min-width: 480px)"
                  type="image/webp"
                />
                <source
                  srcset="./img/team/team-mobile-1.jpg 1x, ./img/team/team-mobile-1@2x.jpg 2x"
                  media="(min-width: 480px)"
                />
                <img class="team-img" src="./img/team/team-mobile-1.jpg" alt="Игорь Демьяненко" />
              </picture>
  </div>
</section>
