<header>
    <div class="container">
        <div class="logo">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <source srceset="" media="(min-width: px)">
            <img src="../images/hero/desktop/logo@1x.png" alt="Logo">
        </div>
        <button class="burger-btn" data-menu-button>
            <span class="burger-btn--span"></span>
        </button>

        <div class="burger-menu" data-menu>
            <button class="buttons buttons--buy buttons--center">
            Buy now
                 <svg class="buttons-buy--svg">
                    <use href="../images/sprite/symbol-defs.svg#icon-pointer"></use>
                </svg>  
            </button>
            <nav class="header-nav">
                <ul class="header-block">
                    <hr class="underline"></hr>
                    <li class="header-list">
                        <a class="header-link header-link--current" href="#">Home</a>
                    </li>
                    <hr class="underline"></hr>
                    <li class="header-list">
                        <a class="header-link" href="#">About us</a>
                    </li>
                    <hr class="underline">
                    </р>
                    <li class="header-list">
                        <a class="header-link" href="#">How it's made?</a>
                    </li>
                    <hr class="underline"></hr>
                    <li class="header-list">
                        <a class="header-link" href="#">Our products</a>
                    </li>
                    <hr class="underline"></hr>
                    <li class="header-list">
                        <a class="header-link" href="#">Contact</a>
                    </li>
                    <hr class="underline"></hr>
                </ul>

            </nav>
        </div>
    </div>
</header>