  header {
      background-color: var(--sub-title-elipse);
      @media screen and (min-width: 768px) {
          display: flex;
      }
      .header-flex {
          display: flex;
      }
  }
  
  .logo {
      @media screen and (max-width: 480px) {
          padding: 6px 0px;
      }
      @media screen and (min-width: 480px) {
          padding: 6px 0px;
      }
      @media screen and (min-width: 767px) {
          padding: 37px 0px 6px;
      }
  }
  
  .btn-tablet {
      display: none;
  }
  
  .buttons--buy {
      position: relative;
      margin: auto;
      width: 209px;
      height: 44px;
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      color: var(--color-accent);
      background: #FFFFFF;
      &:hover,
      &:focus {
          background: #ECEBEB;
      }
  }
  
  .buttons--tablet {
      display: none;
  }
  
  .buttons-buy--svg {
      position: absolute;
      height: 10px;
      top: 40%;
      right: -50%;
  }
  
  .header-block {
      margin-top: 76px;
  }
  
  .header-list {
      margin: 11px 0px 11px 24px;
  }
  
  .header-link {
      display: block;
      font-family: var(--text-main-font);
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      transition: all 250ms;
      &:hover,
      &:focus {
          color: var(--color-accent);
      }
  }
  
  .header-link--current {
      color: var(--color-accent);
  }
  
  @media screen and (min-width: 768px) {
      .btn-tablet {
          display: block;
          margin: 38px 0px 6px 341px;
          width: 209px;
          height: 44px;
          font-size: 16px;
          line-height: 21px;
          font-weight: bold;
          color: var(--color-accent);
          background: #FFFFFF;
          &:hover,
          &:focus {
              background: #ECEBEB;
          }
      }
  }
  
  @media screen and (max-width: 1279px) {
      .buttons--buy {
          position: relative;
          margin: 0px;
          width: 209px;
          height: 44px;
          font-size: 16px;
          line-height: 21px;
          font-weight: bold;
          color: var(--color-accent);
          background: #FFFFFF;
          &:hover,
          &:focus {
              background: #ECEBEB;
          }
      }
      .buttons-buy--svg {
          position: absolute;
          height: 10px;
          top: 40%;
          right: -50%;
      }
  }
  
  @media screen and (min-width: 1280px) {
      .buttons--buy {
          display: none;
      }
      .underline {
          display: none;
      }
      .header-nav {
          display: flex;
      }
  }